<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changyu.foryou.mapper.ProjectMapper">
	<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true" />
	<resultMap id="BaseResultMap" type="com.changyu.foryou.model.Project">
		<id column="project_id" property="projectId" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
		<result column="concat" property="concat" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_userid" property="createUserId" jdbcType="VARCHAR" />
		<result column="head_img" property="headImg" jdbcType="VARCHAR" />
		<result column="interest" property="interest" jdbcType="INTEGER" />
		<result column="deadline_time" property="deadLineTime" jdbcType="TIMESTAMP" />
		<result column="location" property="location" jdbcType="VARCHAR" />
		<result column="add_imgs" property="addImgs" jdbcType="VARCHAR" />
	</resultMap> 
	
	<resultMap id="BannerResultMap" type="com.changyu.foryou.model.Banner">
		<id column="banner_id" property="bannerId" jdbcType="INTEGER" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="UniversityResultMap" type="com.changyu.foryou.model.University">
		<id column="provice_id" property="proviceId" jdbcType="INTEGER" />
		<result column="provice" property="provice" jdbcType="VARCHAR" />
		<result column="univ_id" property="univId" jdbcType="INTEGER" />
		<result column="university" property="university" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="CommentResultMap" type="com.changyu.foryou.model.ProjectComment">
		<id column="project_id" property="projectId" jdbcType="VARCHAR" />
		<result column="owner_id" property="ownerId" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" />
		<result column="user_head" property="userHead" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="is_read" property="isRead" jdbcType="BOOLEAN" />
		<result column="project_title" property="projectTitle" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getBannerInfo" resultMap="BannerResultMap">
		select
		*
		from
		banner_info
	</select>
	
	<select id="getProjectList" resultMap="BaseResultMap" flushCache="true" useCache="false">
		select
		*
		from
		project
		order by
		create_time DESC
		<if test="limit !=null and offset !=null">
			LIMIT #{limit,jdbcType=INTEGER} OFFSET
			#{offset,jdbcType=INTEGER}
		</if> 
	</select>
	
	<select id="getMyProjectList" resultMap="BaseResultMap" flushCache="true" useCache="false">
		select
		*
		from
		project
		where create_userid = #{createUserId,jdbcType=VARCHAR} 
		order by
		create_time DESC
		<if test="limit !=null and offset !=null">
			LIMIT #{limit,jdbcType=INTEGER} OFFSET
			#{offset,jdbcType=INTEGER}
		</if> 
	</select>
	
	<select id="getProjectInfo" resultMap="BaseResultMap" flushCache="true" useCache="false">
		select
		*
		from
		project
		 where project_id = #{projectId,jdbcType=VARCHAR} 
	</select>
	
	<insert id="insertSelective" parameterType="com.changyu.foryou.model.Project">
		insert into project
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="projectId != null">
				project_id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="subtitle != null">
				subtitle,
			</if>
			<if test="concat != null">
				concat,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUserId != null">
				create_userid,
			</if>
			<if test="headImg != null">
				head_img,
			</if>
			<if test="interest != null">
				interest,
			</if>
			<if test="deadLineTime != null">
				deadline_time,
			</if>
			<if test="location != null">
				location,
			</if>
			<if test="addImgs != null">
				add_imgs,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="projectId != null">
				#{projectId,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="subtitle != null">
				#{subtitle,jdbcType=VARCHAR},
			</if>
			<if test="concat != null">
				#{concat,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=VARCHAR},
			</if>
			<if test="headImg != null">
				#{headImg,jdbcType=VARCHAR},
			</if>
			<if test="interest != null">
				#{interest,jdbcType=INTEGER},
			</if>
			<if test="deadLineTime != null">
				#{deadLineTime,jdbcType=TIMESTAMP},
			</if>
			<if test="location != null">
				#{location,jdbcType=VARCHAR},
			</if>
			<if test="addImgs != null">
				#{addImgs,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateProjectHeadImg">
		update project
		set
		head_img = #{headImg,jdbcType=VARCHAR} 
		where project_id = #{projectId,jdbcType=VARCHAR} 
	</update>
	
	<update id="updateProjectAddImgs">
		update project
		set
		add_imgs = #{addImgs,jdbcType=VARCHAR} 
		where project_id = #{projectId,jdbcType=VARCHAR} 
	</update>
	
	<insert id="commitComment" parameterType="com.changyu.foryou.model.ProjectComment">
		insert into project_comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="projectId != null">
				project_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="commentTime != null">
				comment_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="projectId != null">
				#{projectId,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="commentTime != null">
				#{commentTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	
	<select id="getCommentList" resultMap="CommentResultMap" flushCache="true" useCache="false">
		select
		*
		from
		project_comment_user
		<where>
		project_id = #{projectId,jdbcType=VARCHAR} 
		</where> 
		order by
		comment_time DESC
		<if test="limit !=null and offset !=null">
			LIMIT #{limit,jdbcType=INTEGER} OFFSET
			#{offset,jdbcType=INTEGER}
		</if> 
	</select>
	
	<select id="getCommentCount" resultType="java.lang.Integer" flushCache="true" useCache="false">
		select
		count(*)
		from
		project_comment_user
		<where>
		project_id = #{projectId,jdbcType=VARCHAR} 
		</where> 
	</select>
	
	
	<select id="getProjectCommentMsg" parameterType="String" resultMap="CommentResultMap" flushCache="true" useCache="false">
		select
		*
		from
		project_comment_user 
		where
		owner_id=#{userId,jdbcType=VARCHAR} 
		and user_id != owner_id
		order by
		comment_time DESC
		LIMIT 10
	</select>
	
	
	<select id="getCommentUnreadMsgCount" parameterType="String" resultType="java.lang.Integer" flushCache="true" useCache="false">
		select
		count(*)
		from
		project_comment_user 
		where
		owner_id=#{userId,jdbcType=VARCHAR} 
		and user_id != owner_id
		and is_read = 0
	</select>
	
	
	<update id="setProjectCommentRead">
		update project_comment
		set
		is_read = 1
		where project_id = #{projectId,jdbcType=VARCHAR}
	</update>

	
	<select id="getProviceList"  resultMap="UniversityResultMap" flushCache="true" useCache="false">
		select
		distinct provice_id, provice
		from
		university 
	</select>
	
	<select id="getUnivList"  parameterType="INTEGER" resultMap="UniversityResultMap" flushCache="true" useCache="false">
		select
		*
		from
		university 
		where provice_id = #{proviceId,jdbcType=INTEGER}
	</select>
</mapper>

