<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changyu.foryou.mapper.ReceiverMapper">
	<resultMap id="BaseResultMap" type="com.changyu.foryou.model.Receiver">
		<id column="user_id" property="userId" jdbcType="VARCHAR" />
		<id column="address_id" property="addressId" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="detail" property="detail" jdbcType="VARCHAR" />
		<result column="is_default" property="isDefault" jdbcType="SMALLINT" />
		<result column="city_name" property="cityName" jdbcType="VARCHAR" />
		<result column="district_name" property="districtName" jdbcType="VARCHAR" />
		<result column="city_id" property="cityId" jdbcType="INTEGER" />
		<result column="district_id" property="districtId" jdbcType="INTEGER" />
		<result column="longitude" property="longitude" jdbcType="VARCHAR" />
		<result column="latitude" property="latitude" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		user_id, address_id, phone, name, address, detail,is_default,city_name,district_name,city_id,district_id
		,longitude,latitude 
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from receiver
		where user_id = #{userId,jdbcType=VARCHAR}
		and address_id = #{addressId,jdbcType=VARCHAR}
	</select>
	<select id="getReceiverDefault" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from receiver
		where user_id = #{userId,jdbcType=VARCHAR}
		and is_default = 1
	</select>
	<select id="getReceiverList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from receiver
		where user_id = #{userId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" >
		delete from receiver
		where user_id = #{userId,jdbcType=VARCHAR}
		and address_id = #{addressId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.changyu.foryou.model.Receiver">
		<!-- insert into receiver (rank, phone_id, phone,
		name, address, tag,is_out,campus_id
		)
		values (#{rank,jdbcType=VARCHAR}, #{phoneId,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{tag,jdbcType=SMALLINT},0,
		#{campusId,jdbcType=VARCHAR}
		) -->
	</insert>
	<insert id="insertSelective" parameterType="com.changyu.foryou.model.Receiver">
		insert into receiver
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="addressId != null">
				address_id,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="detail != null">
				detail,
			</if> 
			<if test="isDefault != null">
				is_default,
			</if> 
			<if test="cityName != null">
				city_name,	
			</if> 
			<if test="districtName != null">
				district_name,
			</if> 
			<if test="cityId != null">
				city_id,
			</if> 
			<if test="districtId != null">
				district_id,
			</if> 
			<if test="longitude != null">
				longitude,
			</if> 
			<if test="latitude != null">
				latitude,
			</if> 
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="addressId != null">
				#{addressId,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="detail != null">
				#{detail,jdbcType=VARCHAR},
			</if>
			<if test="isDefault != null">
				#{isDefault,jdbcType=SMALLINT},
			</if>
			<if test="cityName != null">
				#{cityName,jdbcType=VARCHAR},
			</if>
			<if test="districtName != null">
				#{districtName,jdbcType=VARCHAR},
			</if>
			<if test="cityId != null">
				#{cityId,jdbcType=INTEGER},
			</if>
			<if test="districtId != null">
				#{districtId,jdbcType=INTEGER},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=VARCHAR},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.changyu.foryou.model.Receiver">
		update receiver
		<set>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="detail != null">
				detail = #{detail,jdbcType=VARCHAR},
			</if>
			<if test="isDefault != null">
				is_default = #{isDefault,jdbcType=SMALLINT},
			</if>
			<if test="cityName != null">
				city_name = #{cityName,jdbcType=VARCHAR},
			</if>
			<if test="districtName != null">
				district_name = #{districtName,jdbcType=VARCHAR},
			</if>
			<if test="city_id != null">
				cityId = #{cityId,jdbcType=INTEGER},
			</if>
			<if test="districtId != null">
				district_id = #{districtId,jdbcType=INTEGER},
			</if>
			<if test="longitude != null">
				longitude = #{longitude,jdbcType=VARCHAR},
			</if>
			<if test="latitude != null">
				latitude = #{latitude,jdbcType=VARCHAR},
			</if>
		</set>
		where user_id = #{userId,jdbcType=VARCHAR}
		and address_id = #{addressId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.changyu.foryou.model.Receiver">
		<!-- update receiver
		set phone = #{phone,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		tag = #{tag,jdbcType=SMALLINT}
		where rank = #{rank,jdbcType=VARCHAR}
		and phone_id = #{phoneId,jdbcType=VARCHAR} -->
	</update>


	<!-- 以下为新增 -->
	<update id="setDefaultAddress">
		<!-- update receiver
		set
		tag = 0
		where phone_id =
		#{phoneId,jdbcType=VARCHAR} and rank =
		#{rank,jdbcType=VARCHAR} -->
	</update>

	<select id="getReceiverCounts" resultType="Integer">
		<!-- select count(*)
		from
		receiver
		where phone_id = #{phoneId,jdbcType=VARCHAR}
		and is_out=0 -->
	</select>

	<select id="selectByPhoneId" resultMap="BaseResultMap">
		<!-- select
		rank, phone_id, phone, name, address, tag,campus.campus_id,campus_name
		from receiver,campus
		where phone_id = #{phoneId,jdbcType=VARCHAR}
		and is_out =0
		and receiver.campus_id=campus.campus_id
		order by  tag ASC,rank ASC -->
	</select>

	<update id="setReceiverTag">
		<!-- update receiver
		set
		tag = 1
		where phone_id =
		#{phoneId,jdbcType=VARCHAR} -->
	</update>
	
	<!-- <select id="getReceiver" resultMap="BaseResultMap">
		select
		distinct
		receiver.rank, receiver.phone_id, receiver.phone, receiver.name, 
		receiver.address, receiver.tag,receiver.campus_id
		from orders,receiver
		where together_id=#{togetherId,jdbcType=VARCHAR}and orders.tag=1
		and receiver.rank=orders.rank  and is_out=0
	</select> -->
	
	<select id="getReceiver" resultMap="BaseResultMap">
		<!-- select 
		   <include refid="Base_Column_List" />
	    from 
	       receiver -->
	</select>

</mapper>